.navbackground{
  background-color:#4092f0;

}

body{
  background-color: #f6ffcd;
  color: #4B4E6D;
 
}

.img2{
  margin: 2%;
  width: 50%;
  float: left;
  border-radius: 8px;
}

p{
  margin: 3%;
  font-size: 20px;
  padding:10px ;
}

.source_list{
  padding: 10px;
}

.img1{
  margin: 2%;
  width: 50%;
  float: left;
  border-radius: 8px;
}

h1,h2{
  margin: 2%;

}

.img3{
  margin: 2%;
  width: 50%;
  float: left;
  border-radius: 8px;
}

.img4{
  width: 40%;
  margin: 2%;
  float: left;
  border-radius: 8px;
}

.img5{
  width: 40%;
  margin: 2%;
  border-radius: 8px;
}


.footer{
  text-align: center;
  margin-top: 100px;
  color: gray;
  display: block;
}